<div class="row">
    <div class="col">
        <h1>Content Catalog</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Catalog</h1>
    </div>
    <div class="col text-end gap-2">
        <button routerLink="/{{lang}}/content-data/catalog/{{contentCatalog}}/add"
                class="btn btn-primary">Create
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>Catalog Name: {{contentCatalog}}</div>
        <div>
            API Path: <code>{{this.apiPath.join('/')}}</code>
            <a [href]="this.qApiPath.join('/')" target="_blank" class="btn btn-danger btn-sm mx-2 py-0 text-uppercase">
                <small>Open</small>
            </a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let obj of contentData.getValue(); index as i">
            <tr>
                <td>{{obj.content.id}}</td>
                <td>{{obj.content.title}}</td>
                <td class="d-flex gap-2">
                    <a routerLink="/{{lang}}/content-data/catalog/{{obj.objectCatalog}}/{{obj.content.id}}">Edit</a>
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
