<div class="row">
    <div class="col">
        <h1>Content Data</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Modify Page</h1>
        <div>Page Name: {{contentObject}}</div>
        <div>
            API Path: <code>{{this.apiPath.join('/')}}</code>
            <a [href]="this.qApiPath.join('/')" target="_blank" class="btn btn-danger btn-sm mx-2 py-0 text-uppercase">
                <small>Open</small>
            </a>
        </div>
    </div>
</div>
<app-content-data-form
        [mode]="formMode"
        [contentData]="contentData.getValue()"
        (onSubmitEvent)="onSubmit($event)">
</app-content-data-form>
